html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  width: 375px;
  border-bottom: 1px solid #c6c6c6;
}

.logo {
  width: 127px;
}

.golden-avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}
