html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  background: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  border-bottom: 1px solid #c6c6c6;
}

section {
  border-bottom: 5px solid whitesmoke;
}

.logo {
  width: 127px;
}

.golden-avatar {
  width: 40px;

  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;

  gap: 7px;
}

.profile-img {
  width: 34px;
  border-radius: 50%;
}

.user-full-name {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.user-location {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.post-img {
  width: 100%;
  display: block;
}

.post-body {
  /* background-color: red; */
  margin: 20px 10px;
}

.icons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.like-icon {
  width: 24px;
  color: red;
}
.like-icon:hover {
  opacity: 0.5;
}

.like-icon.filled:hover {
  opacity: 0.7;
}

.comment-icon {
  width: 24px;
}
.comment-icon:hover {
  opacity: 0.5;
}

.share-icon {
  width: 21px;
}
.share-icon:hover {
  opacity: 0.5;
}

.like-count {
  font-weight: 700;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;
}

.username-caption {
  font-size: 13px;
  margin: 0;
}
